@font-face {
    font-family: "raleway";
    src: url("font/Raleway-Regular.ttf");}

@font-face {
    font-family: "raleway-bold";
    src: url("font/Raleway-Bold.ttf");}

body {
margin: 0px;
padding: 0px;
font-family: "raleway";
}

.page {
margin: 0px 25px 0px 15px;

}




.logo_img{
width: 75%;
height: 75%;	
margin: 10px 0px 0px 0px;
}

.fonc_display{
	display: flex;
}

.gras {
font-family: raleway-bold;
}

.gras2{
font-family: raleway;
font-size: 14px;	
}

.gris {
color: #d3d3d3;
/*width: 9px;#f2f2f2;
height: 9px;*/
}

.bleu {
color: #0065fc;
/*width: 9px;
height: 9px;*/
}

.texte {
font-family: raleway-bold;	
font-weight: bold;
font-size: 15.2px;
margin: 4px 0px 0px 0px;
}

.texte1 {
font-family: raleway;	
font-weight: bold;
font-size: 12px;
margin: 4px 0px 0px 0px;
}
/********************************/
/********************************/
a {
font-family: raleway-bold;
font-weight: bold;
color: black;	
}

header {
display: grid;
grid-template-columns:4fr 1fr 1fr 1fr ;
grid-template-rows:1fr 1fr;
grid-column-gap: 20px;
align-items: center;
}

.heb.act.ins, a {
text-decoration:  none;
}




/*********************************************/
/********************************************/
.recherche {
display: flex;
align-items: center;
/*width: 320px;*/
height: 38px;
margin: 0px;
padding-top: 15px;
padding-bottom: 20px;
width: 350px;
}

.map {
display: flex;
align-items: center;
justify-content: center;

background: #f2f2f2;
margin: 0;
padding: 0;
width: 38.5px;
height: 36px;
border-radius: 10px 0px 0px 10px;
}


.recher {
display: flex;
}


.recher1 {
visibility: hidden;
display: flex;
align-items: center;
justify-content: center;
background: #0065fc;
border-radius: 0px 10px 10px 0px;
color: white;
font-weight: bold;
height: 36px;
font-family: raleway-bold;
font-size: 12px;
margin: 0px 0px 0px 0px;
width: 80px;
}

.recher2 {
visibility: hidden;
display: flex;
align-items: center;
justify-content: center;
background: #0065fc;
border-radius: 10px;
color: white;
font-weight: bold;
height: 36px;
font-family: raleway-bold;
font-size: 12px;
margin: 0px 0px 0px -85px;
padding: 0px 0px 0px 0px;
width: 38.5px;
}

@media (max-width: 457px) { 
.recher1 {
visibility: hidden;
}
.recher2 {
visibility: visible;
}
}

@media (min-width: 457px) { 
.recher1 {
visibility: visible;
}
.recher2 {
visibility: hidden;
}
}



::placeholder {
  color: black;
  font-weight: bold;
width: 210px;
border: none;
opacity: 1;
font-size: 12.5px;
}

input {
width: 148.5px;
outline: none;
border: none;
margin: 0px 0px 0px 10px;
}

.inp {
border-top:solid #f2f2f2 2px;
border-bottom: solid #f2f2f2 2px;
background: white;
color: black;
padding: 6.5px 0px 6.5px 0px;

margin: 0px 0px 0px 0px;
}

@media (max-width: 700px) { 

.filtres1 {
width: 100%;
text-align: left;
}
}

.filtres {
display: flex;
justify-content: flex-start;
font-family: raleway-bold ;
font-weight: bold;
flex-wrap: wrap;
padding: 10px 10px 10px 10px;
}
.filtres > div {
	margin: 6px;
}


.filtres1 {
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: left;
margin: 0px 0px 0px 0px;	
font-family: raleway-bold;
font-size: 12px;
padding: 0px 15px 0px 8px;
}

.div_filtres{
display: flex;
align-items: center;
justify-content: center;
border: solid #f2f2f2 2px;
border-radius: 20px; 
margin: 0px 11px 0px 11px;
height: 30px;
font-family: raleway-bold;
font-size: 12px;
padding: 0px 0px 0px 0px ;
}

.div_filtres:hover{
background: #deebff;
cursor: grab;
}

.span_filtres{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #deebff;
	color: #0065fc;
	border-radius: 20px;
width: 30px;
height: 30px;
margin: 0px 0px 0px 0px;
}

.text_filtres{
display: flex;
justify-content: center;
margin: 0px 1.5px 0px 0px;
padding: 0px 10px 0px 10px;
}

.info {
display: flex;	
margin: 0px 0px 0px 0px;
height: 10px;
}

.infoi{
	border: solid #f2f2f2 2px;
	color: #0065fc;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0px 0px 0px 0px;

}

i.fa-info {
margin: 0px 0px 0px 7.5px;
padding: 0px 0px 0px 0px;
}


.fas, .fa-xs {

/*width: 9px;
height: 9px;
margin: 0px 0px 3px 0px;
padding: 0px 0px 10px 3px;*/

margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.infoi_text{
margin: 9px 0px 0px 8px;
font-family: raleway;
color: black;
font-size: 12px;
}

/*******************/
/** hébergements **/
.section_n1 {
display: flex;
justify-content: space-between;
/*margin: 0px 20px 0px 20px;*/
width: 100%;
}

.heb_sup_ho, a:hover {
text-decoration: none;	
border-top:  none;
padding-top: 0;	
}

.hebergement {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
border-radius: 10px;
background: #f2f2f2;
margin: 0px 15px 0px 0px;
padding: 0px 25px 0px 25px;
}

.item_n1 {	
height: 175px;
background: white;
border-radius: 10px;
margin: 0px 10px 10px 10px;
padding: 2px;
}

.boxeffet {
box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);

}

.img_hebergements {
	width: 200px;
	height: 110px;
	border-radius: 10px 10px 0px 0px;
padding:2px 2px 0px 2px;
}

.vigne {
font-family: raleway;
height: 28px;/** 28px **/
margin: 0px 0px 35px 4px;
font-size: 14px;
}

.texte_n1 {	
display: block; 
font-family: raleway-bold;
margin: 15px 0px 20px 0px;
padding: 0px 0px 0px 0px;
font-size: 10.5px;
width: 100%;
}
/****/
/****/
aside {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 0px 20px 0px 20px;
margin: 0px 20px 0px 20px;
border-radius: 10px;
background: #f2f2f2;
}

.texte_aside {
display: flex;
justify-content: space-between;
align-items: center;

font-family: raleway-bold;
margin: 10px 0px 0px 10px;
padding: 0px 0px 30px 0px;
font-size: 10.5px;
width: 90%;
}

.item_n2 {
display: flex;
height: 80px;
width: 250px;
border-radius: 10px;
background: white;
font-family: raleway;
font-size: 14px;
margin: 0px 20px 45px 20px;
padding: 0px 15px 45px 0px;
background: #f2f2f2;
}

.tem22 {
display: flex;
justify-content: space-between;
align-items: center;
font-family: raleway-bold;
font-size: 10.5px;
font-weight: bold;
height: 60px;
background: #f2f2f2;
}

.aside_span {
display: flex;
}

.aside_span_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 0px 0px;
	height: 120px;
}

.img_aside {
	width: 120px;
	height: 120px;
	border-radius: 10px 0px 0px 10px;
	margin: 0px 0px 0px 3px;
	padding: 3px 0px 0px 0px;
}

.aside_span a:hover{
text-decoration: none;	
border-top:  none;
padding-top: 0;
}

h2 {
font-family: raleway-bold;
font-weight: bold;
font-size: 16px;
margin: 10px 0px 0px 0px;
}
/*************************/
/**activité à marseille**/
.section_n3 {
display: flex;
justify-content: center;
align-content: space-between;
flex-wrap: wrap;
}

.texte_art_n3 {
display: flex;
justify-content: space-between;
/*justify-content: center;*/
font-family: raleway-bold;
font-weight: bold;
font-size: 12px;
margin: 0px 0px 10px 15px;
}

.tem1, .tem4 {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
font-family: raleway-bold;
font-weight: bold;
box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
border-radius: 20px;
margin: 5px 20px 5px 0px;

}

.tem2, .tem3, .tem5, .tem6 {
display: flex;
flex-direction: column;
justify-content: space-between;
font-family: raleway-bold;
font-weight: bold;
box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
border-radius: 20px;
margin: 5px 20px 5px 0px;
}

.tem7, .tem8 {
display: flex;
flex-direction: column;	
justify-content: space-between;
}

.tem0 {
display: flex;
flex-direction: column;
box-shadow: none;
width: 100%;
margin: 0px 0px 30px 0px;
height: 30px;
}
.activite_img1 {width: 250px;height: 320px;border-radius: 20px 20px 0px 0px;}

.activite_img2 {width: 250px;height: 150px;border-radius: 20px 20px 0px 0px;}

.activite_img3 {width: 250px;height: 112px;border-radius: 20px 20px 0px 0px;}

.activite_img4 {width: 250px;height: 320px;border-radius: 20px 20px 0px 0px;}

.activite_img5 {width:250px ;height: 130px;border-radius: 20px 20px 0px 0px;}

.activite_img6 {width: 250px;height: 130px;border-radius: 20px 20px 0px 0px;}

/****************
****************/
.footer {
display: flex;
justify-content: space-between;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 15px;

background: #f2f2f2;
}
.foot {
padding: 0px 0px 10px 0px;
width: 33%;
}
.gras22 {
font-family: raleway-bold;
/*font-weight: bold;*/
font-size: 16px;
}
.fofo {
font-family: raleway;
font-size: 11px;	
padding: 0px 0px 0px 0px;
}